* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slide {
	display: none;
}

.slide.active {
	display: block;
}

.slide img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: center;
	display: block;
}

.arrows {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	font-size: 1.75rem;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	color: tomato;
}

.arrow-prev,
.arrow-next {
	cursor: pointer;
}

.pointers-wrapper {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translatex(-50%);
	display: flex;
}

.pointer {
	background-color: gray;
	border: 1px solid black;
	border-radius: 50%;
	width: 1rem;
	aspect-ratio: 1;
	margin-right: 0.5rem;
}

.pointer.active {
	background-color: tomato;
}